.recover-content{
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: auto;
  max-width: 600px;
}

.recover-content h1{
  font-size: 25px;
  margin: 30px 0;
}

.recover-content img{
  max-width: 100%;
  border-radius: 5px;
}

.btn-register {
  background: #0F0F0F;
  color: #fff;
  padding: 5px;
  border: none;
  width: 100%;
  border-radius: 3px;
  transition: ease-in-out 0.2s;
}

.btn-register:hover {
  background: #050505;
}

.recover-content a{
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
}