.page404{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.page404 h1{
  font-size: 25px;
  margin: 20px 0px;
}

.page404 img{
  width: 400px;
}

.page404 a{
  text-decoration: none;
  font-size: 20px;
}